<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>URL Shrink</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
    </head>
    <body>

        <div class="container">

            <h1>URL Shrink</h1>

            <form action="/shrinkUrl" method="post" class="my-4 form-inline">
                <label for="fullUrl" class="sr-only">URL</label>
                <input placeholder="URL" type="url" name="fullUrl" id="fullUrl" class="form-control mr-2 col">
                <button class="btn btn-success" type="submit">Shrink</button>
            </form>

            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Full URL</th>
                        <th>Shrinked URL</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://github.com/eliranamar">https://github.com/eliranamar</a>
                        </td>
                        <td>
                            <a href="/123456">123456</a>
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

    </body>
</html>
